.cell {
    width: 150px;
    height: 150px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    transition: .5s all ease;
    font-family: 'Fredoka One', cursive;
    font-size: 80px;
    color: #233;
}
div.cell:hover {
    background-color: #ddd;
}

.cell:nth-child(1) {
    border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
}

.cell:nth-child(3) {
    border-radius: 0 20px 0 0;
    -moz-border-radius: 0 20px 0 0;
    -webkit-border-radius: 0 20px 0 0;
}

.cell:nth-child(9) {
    border-radius: 0 0 20px 0;
    -moz-border-radius: 0 0 20px 0;
    -webkit-border-radius: 0 0 20px 0;
}

.cell:nth-child(7) {
    border-radius: 0 0 0 20px;
    -moz-border-radius: 0 0 0 20px;
    -webkit-border-radius: 0 0 0 20px;
}